.Home{
    background-color: white;
    font-family: 'Merriweather', serif;
    padding: 10px;
}
img{
    width: 50%;
}  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }


  .text-left{
 color: rgba(185, 195, 199, 1);
  }

  .text-right{
 color: rgba(192, 192, 192, 1);
  }