.Home-header {
  background-color: white;
  color: white;
}

.logo {
  width: 15%;
  border-radius: 10%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-item a {
  color: rgb(121, 121, 121);
  text-decoration: none;
  font-size: 16px;
  padding: 0 10px;
  font-weight: 500;
}

.nav-item a:hover {
  font-weight: bold;
}

.nav-left {
  display: flex;
  margin-left: 1%;
}

.nav-right {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-right: 20px; /* Ajuste conforme necessário */
}

.search-bar input {
  padding: 10px;
  width: 100%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search-bar button {
  padding: 10px 0px; 
  border-radius: 6px;
  cursor: pointer;
}

.login-icon {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Ajuste conforme necessário */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-left, .nav-right, .search-bar {
    width: 100%;
    justify-content: center;
  }

  .nav-left {
    order: 1;
    margin: 0;
  }

  .search-bar {
    order: 2;
    margin: 10px 0;
  }

  .nav-right {
    order: 3;
    justify-content: center;
  }

  .logo {
    width: 30%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .nav-item a {
    font-size: 14px;
    padding: 0px 5px;
    text-align: center;
    margin-left: 15px;
    font-size: 70%;
  }

  .logo {
    width: 40%;
  }
.login-icon{
  visibility: hidden;
}
.nav-right{
  visibility: hidden;
}
  .search-bar input, .search-bar button {
    width: 100%;
  }
}
